/* line 10, ../scss/test.scss */
.labs-outter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 14, ../scss/test.scss */
.labs-outter > div.labs-grow {
  flex-grow: 1;
}

/* line 19, ../scss/test.scss */
.inner-1 {
  background: green;
  height: 150px;
}

/* line 24, ../scss/test.scss */
.inner-2 {
  background: #ffc0cb;
  height: 150px;
}

/* line 29, ../scss/test.scss */
.inner-3 {
  background: #4b0f82;
  height: 50px;
}
